<header>

  <div class="header-container">
    <!-- <p>{{session.currentUser.firstName}}</p> -->

    <label for="menu-bars" class="menu-toggle">{{fa-icon "bars"}}</label>



    {{#if session.isAuthenticated}}

      <div class="sign-out">
        <a {{ action 'invalidateSession' }} href="javascript:void(0)">Sign out {{fa-icon "sign-out"}}</a>
      </div>

      {{else}}

      <div class="loggedin-link">
        {{#link-to 'login'}}Login{{/link-to}}
      </div>

    {{/if}}

    <div class="header-logo">
    </div>

  </div>

  <input type="checkbox" id="menu-bars" name="" value="">

  <div class="header-nav-wrap">

    <div class="header-nav">

    </div>
  </div>

</header>
{{outlet}}



<footer>
<div class="fixed-footer">

  <ul>
    {{#link-to 'index'}}<li class="footer-social"><div class="footer-social-icon">{{fa-icon "comments"}}</div><p>Activity</p></li>{{/link-to}}
    {{#link-to 'index'}}<li class="footer-social fs-favorites"><div class="footer-social-icon">{{fa-icon "star"}}</div><p>Favorites</p></li>{{/link-to}}
    {{#link-to 'my-business-profile'}}<li class="footer-social fs-profile"><div class="footer-social-icon">{{fa-icon "user"}}</div><p>My Profile</p></li>{{/link-to}}
    {{#link-to 'index'}}<li class="footer-social fs-settings"><div class="footer-social-icon">{{fa-icon "cog"}}</div><p>Settings</p></li>{{/link-to}}
  </ul>

</div>
</footer>
