{{outlet}}

<div class="login-wrap">
  <div class="login-header">
  </div>

<div class="homepage-container">



  <div class="slider">
    <div class="slider-wrap-back">
      <div class="slider-wrap">
        <div class="slider-container">
          {{jqui-slider value=num min=1 max=25 step=1 slide="slideAction" id="jquery-slider"}}
        </div>
      </div>
    </div>
  </div>

  <div class="slider-value">
    <p><span>0</span>{{num}} </p>
  </div>

  <div class="feed-search">
    <form>

      {{input placeholder="Enter City or Zip" type='text'}}

      <div class="submit-status">
        <button type="submit" class="post-status">Filter</button>
      </div>

    </form>

  </div>




  <!-- <div class="feed-header">
    <p class="feed-heading">Local scene</p>
    <p class="feed-subheading">Hear straight from your favorite bars</p>
  </div> -->

  <div class="feed-container">
    <div class="feed-post">
      <ul>
        {{#each status in model}}
          <li class="single-post">
            <div class="feed-avatar-container">
              <li class="feed-avatar"></li>
            </div>
            <div class="feed-info-container">
              <li class="feed-name">{{status.business.businessName}} {{fa-icon "check-circle"}} <span class="feed-time">{{ago status.createdAt}}</span></li>
              <!-- <li><span class="feed-radius">2 miles away</span></li> -->
              <li class="feed-status">{{status.status}}</li>
              <!-- <li class="feed-social-buttons"><span class="feed-likes">{{fa-icon "beer"}} 24 people like this</span><span class="feed-addfavorite">{{fa-icon "plus"}} Add to Favorites</span></li> -->
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

  <div class="footer-container">

    <div class="footer-copyright">
      <p>Keith® 2015 All Rights Reserved</p>
    </div>

    <div class="footer-social-icons">
      <a href="/">{{fa-icon "facebook"}}</a>
      <a href="/">{{fa-icon "twitter"}}</a>
      <a href="/">{{fa-icon "instagram"}}</a>
    </div>

  </div>


</div>
