{{outlet}}
<div class="body-container">
  <div class="my-sidebar-left">


    <!-- <div class="index-header">
      <div class="bartender-info">
        <p class="bartender-info-name">{{session.currentUser.businessName}}</p>
        <p class="bartender-info-location">{{session.currentUser.address}}</p>
        <p class="bartender-info-location">{{session.currentUser.city}}, {{session.currentUser.state}} {{session.currentUser.zip}}</p>
      </div>
    </div> -->

    <!-- <div class="business-tools">
      <ul>
        {{#link-to 'business-edit'}}<li><div class="tools-icon">{{fa-icon "pencil-square-o"}}</div><div class="tools-label"><p>Edit Profile</p></div></li>{{/link-to}}
      </ul>
    </div> -->

    <!-- <div class="business-tools2">
      <ul>
        <li><div class="tools-icon">{{fa-icon "check-circle"}}</div><div class="tools-label"><p>Edit Profile</p></div></li>
        <li><div class="tools-icon">{{fa-icon "check-circle"}}</div><div class="tools-label"><p>Edit Specials</p></div></li>
        <li><div class="tools-icon">{{fa-icon "check-circle"}}</div><div class="tools-label"><p>Edit Profile</p></div></li>
      </ul>
    </div> -->


<!--
    <div class="sidebar-photos">
      <ul>
        <li><div class="photo-container"><img src="/assets/images/henrysbar.jpg" class="photo-thumbnail"></div></li>
        <li><div class="photo-container"><img src="/assets/images/nightlife.jpg" class="photo-thumbnail"></div></li>
        <li><div class="photo-container"><img src="/assets/images/barscene.jpg" class="photo-thumbnail"></div></li>

      </ul>
    </div> -->

    <!-- <div class="business-numbers">
      <ul>
        <li><div class="numbers">340</div><div class="numbers-label"><p>Followers</p></div></li>
        <li><div class="numbers">126</div><div class="numbers-label"><p>Posts</p></div></li>
        <li><div class="numbers">4</div><div class="numbers-label"><p>Bartenders</p></div></li>
      </ul>
    </div> -->



    <div class="business-profile-info-dark">
      <ul>
        <li class="business-profile-name">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name-dark business-profile-span-name">{{session.currentUser.businessName}}</div>
        </li>
        <li class="business-profile-address1">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name-dark profile-span-address"><a href="/">{{session.currentUser.address}}</a></div>
        </li>
        <li class="business-profile-address1">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name-dark profile-span-address"><a href="/">{{session.currentUser.city}}, {{session.currentUser.state}} {{session.currentUser.zip}}</a></div>
        </li>
        <li class="business-profile-website">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name-dark"><a {{bind-attr href="session.currentUser.website"}}>{{session.currentUser.website}}</a></div>
        </li>
        <li class="business-profile-hours">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name-dark">{{session.currentUser.businessHours}}</div>
        </li>
      </ul>
        <!-- <div class="business-profile-info-edit">
          {{#link-to 'business-edit'}}
            {{fa-icon "magic"}} Edit Info
          {{/link-to}}
        </div> -->
      <!-- <div class="business-profile-background-edit">
        {{#link-to 'cover-upload'}}
          {{fa-icon "file-image-o"}} Upload Cover Image
        {{/link-to}}
      </div> -->
    </div>


    <div class="business-profile-info">
      <ul>
        <li class="business-profile-name">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name business-profile-span-name">{{session.currentUser.businessName}}</div>
        </li>
        <li class="business-profile-address1">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name profile-span-address"><a href="/">{{session.currentUser.address}}</a></div>
        </li>
        <li class="business-profile-address1">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name profile-span-address"><a href="/">{{session.currentUser.city}}, {{session.currentUser.state}} {{session.currentUser.zip}}</a></div>
        </li>
        <li class="business-profile-website">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name"><a {{bind-attr href="session.currentUser.website"}}>{{session.currentUser.website}}</a></div>
        </li>
        <li class="business-profile-hours">
          <div class="input-label"><p>{{fa-icon "chevron-right"}}</p></div>
          <div class="profile-span-name">{{session.currentUser.businessHours}}</div>
        </li>

      </ul>
        <!-- <div class="business-profile-info-edit">
          {{#link-to 'business-edit'}}
            {{fa-icon "magic"}} Edit Info
          {{/link-to}}
        </div> -->
      <!-- <div class="business-profile-background-edit">
        {{#link-to 'cover-upload'}}
          {{fa-icon "file-image-o"}} Upload Cover Image
        {{/link-to}}
      </div> -->
    </div>





  </div>
  <div class="business-profile-info-wrap">
  </div>
  <div class="login-wrap">


    <div class="business-profile-status">
      <form {{action 'postStatus' on="submit"}}>

        {{textarea id="business-status" value=status autoresize=true maxHeight=200 required=true placeholder="What's going on?"}}
        <div class="post-loader-container hidden">
          <div class="post-loader" title="0">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.9">
                  <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="1s" repeatCount="indefinite" />
                  <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="1s" repeatCount="indefinite" />
                  <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="1s" repeatCount="indefinite" />
                </rect>
                <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.9">
                  <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="1s" repeatCount="indefinite" />
                  <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="1s" repeatCount="indefinite" />
                  <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="1s" repeatCount="indefinite" />
                </rect>
                <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.9">
                  <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="1s" repeatCount="indefinite" />
                  <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="1s" repeatCount="indefinite" />
                  <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="1s" repeatCount="indefinite" />
                </rect>
              </svg>
          </div>
        </div>

        <div class="submit-status">
          <button {{action 'editDestroy'}} class="edit-destroy">Edit Feed</button>
          <button {{action 'cancelDestroy'}} class="cancel-destroy hidden">Cancel</button>
          <button type="submit" class="post-status">Post</button>
          <div class="camera-icon">{{fa-icon "camera"}}</div>
          <button {{action 'editDestroy'}} class="edit-destroy"><li class="edit-feed"><div class="editfeed-icon">{{fa-icon "chevron-left"}}</div><p>Edit Feed</p></li></button>
          <button {{action 'cancelDestroy'}} class="cancel-destroy hidden"><li class="cancel-edit hidden"><div class="editfeed-icon">{{fa-icon "chevron-left"}}</div><p>Cancel</p></li></button>

        </div>






      </form>

    </div>

  <div class="business-profile-feed">



    <div class="feed-container">
      <div class="business-config">

      </div>

      <div class="feed-post">
          <ul>
            {{#each post in sortedPosts}}

            <li class="single-post">
              <div class="feed-avatar hidden">
                  <button class="destroy-button" {{action 'minus-circle'}}><span class="destroy">{{fa-icon "times"}}</span></button>
              </div>

              <div class="feed-info-container">
                <li class="feed-name">{{post.business.businessName}} <span class="feed-time">{{ago post.createdAt}}</span></li>

                <li class="feed-address">{{post.business.address}}</li>
                <!-- <li class="feed-dynamic"><span class="feed-radius">2 miles away</span></li> -->
                <li class="feed-status">{{post.status}}</li>
                <!-- <li class="feed-social-buttons"><span class="feed-addfavorite">{{fa-icon "plus"}} Add to Favorites</span></li> -->
              </div>
              <!-- <div class="interaction-container">
                <li class="interaction-like">Like</li>
                <li class="interaction-follow">Follow</li>
                <li class="interaction-hide">Hide</li>
              </div> -->
            </li>

            {{/each}}
          </ul>
      </div>
    </div>
  </div>

<!-- Put this line in the #each over -->
<!-- <li><button {{action 'destroyStatus' post}}>Destroy</button></li> -->

  </div>

  <div class="sidebar-right">
    <p>Another COlumn</p>
  </div>


</div>


<!-- <div class="weekly-calendar">
  <ul>
    <li><p class="calendar-day">Sunday</p><div class="calendar-hours">Closed{{session.currentUser.sundayHours}}</div><div class="business-specials">{{session.currentUser.sundaySpecial}}</div></li>
    <li><p class="calendar-day">Monday</p><div class="calendar-hours">2:30pm – 12:00am{{session.currentUser.mondayHours}}</div><div class="business-specials">{{session.currentUser.mondaySpecial}}</div></li>
    <li><p class="calendar-day">Tuesday</p><div class="calendar-hours">2:30pm – 12:00am{{session.currentUser.tuesdayHours}}</div><div class="business-specials">{{session.currentUser.tuesdaySpecial}}</div></li>
    <li><p class="calendar-day">Wednesday</p><div class="calendar-hours">2:30pm – 12:00am{{session.currentUser.wednesdayHours}}</div><div class="business-specials">{{session.currentUser.wednesdaySpecial}}</div></li>
    <li><p class="calendar-day">Thursday</p><div class="calendar-hours">2:30pm – 12:00am{{session.currentUser.thursdayHours}}</div><div class="business-specials">{{session.currentUser.thursdaySpecial}}</div></li>
    <li><p class="calendar-day">Friday</p><div class="calendar-hours">2:30pm – 2:00am{{session.currentUser.fridayHours}}</div><div class="business-specials">{{session.currentUser.fridaySpecial}}</div></li>
    <li><p class="calendar-day">Saturday</p><div class="calendar-hours">2:30pm – 2:00am{{session.currentUser.saturdayHours}}</div><div class="business-specials">{{session.currentUser.saturdaySpecial}}</div></li>
  </ul>
</div> -->

<div class="footer-container">

  <div class="footer-copyright">
    <p>Barkeep® 2015 All Rights Reserved</p>
  </div>

  <div class="footer-social-icons">
    <a href="/">{{fa-icon "facebook"}}</a>
    <a href="/">{{fa-icon "twitter"}}</a>
    <a href="/">{{fa-icon "instagram"}}</a>
  </div>

</div>
